# Demographic Data Analyzer

In [3]:
import pandas as pd

df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**How many people of each race are represented in this dataset?**

In [5]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

**What is the average age of men?**

In [7]:
filter1 = df['sex'] == 'Male'
df_male_age = df['age'].where(filter1)  
average_age_men = round(float(df_male_age.mean()),1)
average_age_men

39.4

**What is the percentage of people who have a Bachelor's degree?**

In [9]:
filter2 = df['education'] == 'Bachelors'
suma2 = df['education'].where(filter2).dropna().count()  
percentage_bachelors = round((suma2 / df['education'].count()) * 100,1)
percentage_bachelors

16.4

**What percentage of people with advanced education (Bachelors, Masters, or Doctorate) and make more than 50K?**

In [33]:
filter3 = df['salary'] == '>50K' 
    
filter3a = (df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')
    
higher_education = df['education'].where(filter3a).dropna().count()

higher_education_rich = round(df['education'].where(filter3 & filter3a).dropna().count() / higher_education * 100,1)
higher_education_rich

46.5

**What percentage of people without advanced education and make more than 50K?**

In [35]:
filter4 = df['salary'] == '>50K'

filter4a = ~(df['education'] == 'Bachelors') & ~(df['education'] == 'Masters') & ~(df['education'] == 'Doctorate')

lower_education = df['education'].where(filter4a).dropna().count() 

lower_education_rich = round(df['education'].where(filter4 & filter4a).dropna().count() / lower_education * 100,1)
lower_education_rich

17.4

**What is the minimum number of hours a person works per week?**

In [68]:
min_work_hours = df['hours-per-week'].min()

min_work_hours

1

**What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?**

In [92]:
x = df[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')]
#len(x.index)
y=df[df['hours-per-week'] == 1]
#z=len(y.index)
pct = len(x.index)/len(y.index)*100
pct

10.0

**What country has the highest percentage of people that earn >50K and what is that percentage?**

In [94]:
country_list = pd.DataFrame(data=df['native-country'].unique(), columns = ["native-country"])
country_list['High_Earners'] = 0
country_list['High_Earners_Ratio'] = 0

country_list.set_index('native-country')

filter3 = df['salary'] == '>50K' 

for i, row in country_list.iterrows():
    filter6 = df['native-country'] == row['native-country']
    country_list.iloc[i, 1] = df['native-country'].where(filter3 & filter6).dropna().count()
    country_list.iloc[i, 2] = country_list.iloc[i, 1] / df['native-country'].where(filter6).dropna().count() * 100

country_list.loc[country_list['High_Earners'].idxmax()]
country_list.loc[country_list['High_Earners_Ratio'].idxmax()]


highest_earning_country = country_list.loc[country_list['High_Earners_Ratio'].idxmax(), 'native-country']
highest_earning_country_pct = round(country_list.loc[country_list['High_Earners_Ratio'].idxmax(), 'High_Earners_Ratio'],1)
highest_earning_country_pct

41.9

**Identify the most popular occupation for those who earn >50K in India.**

In [93]:
df_filtered = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
top_Indian_occupation = df_filtered['occupation'].value_counts().idxmax()
top_Indian_occupation

'Prof-specialty'